rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public read of season data
    match /seasonDiary/{season} {
      allow read: if true;
      allow write: if isCoach();

      match /athletes/{athleteId} {
        allow read: if true;
        allow write: if isCoach();
      }
      match /tests/{testId} {
        allow read: if true;
        allow write: if isCoach();
      }
    }

    function isCoach() {
      return request.auth != null && (
        // Either restrict by UID or by custom claims
        request.auth.uid in [
          // Coach UID(s)
          "sLGBzcsx35fQtcxp0R75Zvnmefm1"
        ] || (request.auth.token.coach == true)
      );
    }
  }
}


